.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
}

a{
  color: var(--text-primary);
  background-color: var(--backhround);
  /* border: 1px var(--text-primary) solid; */
  height: 40px;
  width:  40px;
  float: right;
  transition: all .5s;
}

