@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Roboto Condensed", sans-serif;
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  font-family: "Roboto Condensed", sans-serif;
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

